openapi: 3.1.0
info:
  title: Consent Engine API
  description: |
    Consent Engine API for managing data consent workflows in the Data Exchange Platform.
    This service handles consent creation, approval, tracking, and management for data access requests.
    
    ## Hybrid Authentication
    The API uses hybrid authentication that differentiates between frontend and M2M requests:
    - **Frontend requests**: Require JWT authentication with email validation
    - **M2M requests**: JWT authentication is optional
    - **Detection**: Based on HTTP headers (X-Requested-With, User-Agent)
    
    ## SCIM Integration
    The API integrates with WSO2 Asgardeo's SCIM API to automatically resolve user email addresses 
    from National ID (NIC) values. When creating consents, only the owner_id (NIC) is required - 
    the owner_email is automatically looked up and populated.
  version: 1.1.0
  contact:
    name: OpenDIF Team
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://consent-engine.choreo.dev
    description: Choreo Production Environment
  - url: https://consent-engine-dev.choreo.dev
    description: Choreo Development Environment
  - url: http://localhost:8081
    description: Local Development Environment

paths:
  /health:
    get:
      summary: Health Check
      description: Check if the consent engine service is running and healthy
      operationId: healthCheck
      tags:
        - Health
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  service:
                    type: string
                    example: consent-engine
                  status:
                    type: string
                    example: healthy

  /consents:
    post:
      summary: Create Consent
      description: |
        Create a new consent record for data access. The owner's email address is automatically resolved 
        from the owner_id using SCIM integration with Asgardeo. Only owner_id is required in the request - 
        owner_email will be populated automatically.
      operationId: createConsent
      tags:
        - Consents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConsentRequest'
      responses:
        '201':
          description: Consent created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentResponse'
        '400':
          description: Bad request - invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /consents/{consentId}:
    get:
      summary: Get Consent by ID
      description: |
        Retrieve a specific consent record by its ID with hybrid authentication:
        - **Frontend requests**: Require JWT authentication with email validation
        - **M2M requests**: JWT authentication is optional
        - **Detection**: Based on HTTP headers (X-Requested-With: XMLHttpRequest or User-Agent containing browser names)
      operationId: getConsentById
      tags:
        - Consents
      security:
        - BearerAuth: []
        - {}: []
      parameters:
        - name: consentId
          in: path
          required: true
          description: Unique identifier for the consent
          schema:
            type: string
            example: consent_8d255282
      responses:
        '200':
          description: Consent found and returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentPortalView'
        '403':
          description: Forbidden - JWT token invalid or email doesn't match consent owner
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Consent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    put:
      summary: Update Consent
      description: |
        Update a specific consent record by its ID with hybrid authentication:
        - **Frontend requests**: Require JWT authentication with email validation
        - **M2M requests**: JWT authentication is optional
        - **Detection**: Based on HTTP headers (X-Requested-With: XMLHttpRequest or User-Agent containing browser names)
      operationId: updateConsent
      tags:
        - Consents
      security:
        - BearerAuth: []
        - {}: []
      parameters:
        - name: consentId
          in: path
          required: true
          description: Unique identifier for the consent
          schema:
            type: string
            example: consent_8d255282
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateConsentRequest'
      responses:
        '200':
          description: Consent updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentResponse'
        '400':
          description: Bad request - invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - JWT token invalid or email doesn't match consent owner
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Consent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    post:
      summary: Update Consent (Alternative)
      description: Alternative endpoint to update a specific consent record by its ID (requires JWT authentication)
      operationId: updateConsentById
      tags:
        - Consents
      security:
        - BearerAuth: []
      parameters:
        - name: consentId
          in: path
          required: true
          description: Unique identifier for the consent
          schema:
            type: string
            example: consent_8d255282
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - status
                - owner_id
                - message
              properties:
                status:
                  type: string
                  enum: [approved, rejected]
                  description: New status of the consent
                  example: approved
                owner_id:
                  type: string
                  description: ID of the data owner
                  example: citizen_199512345678
                message:
                  type: string
                  description: Message for the status update
                  example: User approved consent via portal
      responses:
        '200':
          description: Consent updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentResponse'
        '400':
          description: Bad request - invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - JWT token invalid or email doesn't match consent owner
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Consent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    delete:
      summary: Revoke Consent
      description: |
        Revoke a specific consent record by its ID with hybrid authentication:
        - **Frontend requests**: Require JWT authentication with email validation
        - **M2M requests**: JWT authentication is optional
        - **Detection**: Based on HTTP headers (X-Requested-With: XMLHttpRequest or User-Agent containing browser names)
      operationId: revokeConsent
      tags:
        - Consents
      security:
        - BearerAuth: []
        - {}: []
      parameters:
        - name: consentId
          in: path
          required: true
          description: Unique identifier for the consent
          schema:
            type: string
            example: consent_8d255282
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RevokeConsentRequest'
      responses:
        '200':
          description: Consent revoked successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentResponse'
        '400':
          description: Bad request - invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - JWT token invalid or email doesn't match consent owner
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Consent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /data-owner/{ownerId}:
    get:
      summary: Get Consents by Data Owner
      description: Retrieve all consents for a specific data owner
      operationId: getConsentsByDataOwner
      tags:
        - Data Owner
      parameters:
        - name: ownerId
          in: path
          required: true
          description: Unique identifier for the data owner
          schema:
            type: string
            example: test-owner-123
      responses:
        '200':
          description: Consents found and returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  consents:
                    type: array
                    items:
                      $ref: '#/components/schemas/ConsentResponse'
                  count:
                    type: integer
                    example: 5
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /consumer/{consumerId}:
    get:
      summary: Get Consents by Consumer
      description: Retrieve all consents for a specific consumer application
      operationId: getConsentsByConsumer
      tags:
        - Consumer
      parameters:
        - name: consumerId
          in: path
          required: true
          description: Unique identifier for the consumer application
          schema:
            type: string
            example: passport-app
      responses:
        '200':
          description: Consents found and returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  consents:
                    type: array
                    items:
                      $ref: '#/components/schemas/ConsentResponse'
                  count:
                    type: integer
                    example: 3
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /consent-website:
    get:
      summary: Consent Portal Website
      description: Serve the consent portal website for data owners to approve/deny consents
      operationId: getConsentWebsite
      tags:
        - Portal
      responses:
        '200':
          description: Consent portal website
          content:
            text/html:
              schema:
                type: string
        '500':
          description: Internal server error

  /consent-portal:
    post:
      summary: Create Consent via Portal
      description: Create a new consent record via the consent portal
      operationId: createConsentViaPortal
      tags:
        - Portal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConsentRequest'
      responses:
        '201':
          description: Consent created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentResponse'
        '400':
          description: Bad request - invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Update Consent via Portal
      description: Update a consent record via the consent portal
      operationId: updateConsentViaPortal
      tags:
        - Portal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsentPortalUpdateRequest'
      responses:
        '200':
          description: Consent updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentResponse'
        '400':
          description: Bad request - invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      summary: Get Consent Portal Information
      description: Retrieve consent information for the portal display
      operationId: getConsentPortalInfo
      tags:
        - Portal
      parameters:
        - name: consent_id
          in: query
          required: true
          description: Unique identifier for the consent
          schema:
            type: string
            example: consent_8d255282
      responses:
        '200':
          description: Consent information retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentPortalView'
        '400':
          description: Bad request - missing consent_id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Consent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /consent-portal/{consentId}:
    post:
      summary: Handle Consent Portal Actions
      description: Process actions from the consent portal (approve/deny)
      operationId: handleConsentPortalAction
      tags:
        - Portal
      parameters:
        - name: consentId
          in: path
          required: true
          description: Unique identifier for the consent
          schema:
            type: string
            example: consent_8d255282
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsentPortalAction'
      responses:
        '200':
          description: Action processed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentResponse'
        '400':
          description: Bad request - invalid action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Consent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /data-info/{consentId}:
    get:
      summary: Get Data Owner Information
      description: Retrieve owner ID and email for a specific consent record
      operationId: getDataInfo
      tags:
        - Data Info
      parameters:
        - name: consentId
          in: path
          required: true
          description: Unique identifier for the consent
          schema:
            type: string
            example: consent_8d255282
      responses:
        '200':
          description: Data owner information retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  owner_id:
                    type: string
                    description: ID of the data owner
                    example: test-owner-123
                  owner_email:
                    type: string
                    description: Email address of the data owner
                    example: owner@example.com
        '404':
          description: Consent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /admin/expiry-check:
    post:
      summary: Check Expired Consents
      description: Check for and update expired consent records
      operationId: checkConsentExpiry
      tags:
        - Admin
      responses:
        '200':
          description: Expiry check completed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  expired_records:
                    type: array
                    description: List of expired consent records
                    items:
                      $ref: '#/components/schemas/ConsentResponse'
                  count:
                    type: integer
                    description: Number of expired records found
                    example: 0
                  checked_at:
                    type: string
                    format: date-time
                    description: When the expiry check was performed
                    example: "2025-09-16T16:22:12.38733+05:30"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    CreateConsentRequest:
      type: object
      required:
        - app_id
        - data_fields
        - purpose
        - session_id
      properties:
        app_id:
          type: string
          description: ID of the consumer application requesting data
          example: passport-app
        data_fields:
          type: array
          description: List of data field groups with ownership information.
          items:
            $ref: '#/components/schemas/DataField'
        purpose:
          type: string
          description: Purpose for data access
          example: passport_application
        session_id:
          type: string
          description: Session identifier for tracking
          example: test-session-123
        expires_at:
          type: integer
          format: int64
          description: Expiry time as epoch timestamp (optional)
          example: 1694875200
        grant_duration:
          type: string
          description: Duration of consent grant (e.g., "30d", "1h") (optional)
          example: "30d"

    DataField:
      type: object
      required:
        - owner_type
        - owner_id
        - fields
      properties:
        owner_type:
          type: string
          description: Type of data owner (citizen, organization, etc.)
          example: citizen
        owner_id:
          type: string
          description: Unique identifier for the data owner (National ID/NIC). The owner's email will be automatically resolved from this ID using SCIM integration with Asgardeo.
          example: 199512345678
        owner_email:
          type: string
          description: Email address of the data owner (automatically resolved from owner_id via SCIM lookup)
          example: regina@opensource.lk
          readOnly: true
        fields:
          type: array
          description: List of data fields requiring consent
          items:
            type: string
          example: ["person.permanentAddress", "person.photo"]

    UpdateConsentRequest:
      type: object
      required:
        - status
        - updated_by
      properties:
        status:
          type: string
          enum: [pending, approved, rejected, expired, revoked]
          description: New status of the consent
          example: approved
        grant_duration:
          type: string
          description: Duration of the granted access (e.g., "1h", "1d", "30d")
          example: "1d"
        updated_by:
          type: string
          description: ID of the user who updated the consent
          example: citizen_199512345678
        reason:
          type: string
          description: Reason for the status update
          example: User approved consent via portal
        metadata:
          type: object
          description: Additional information about the update
          additionalProperties: true

    ConsentPortalAction:
      type: object
      required:
        - status
      properties:
        status:
          type: string
          enum: [approved, rejected, revoked]
          description: Action to take on the consent
          example: approved

    ConsentResponse:
      type: object
      properties:
        consent_id:
          type: string
          description: Unique identifier for the consent
          example: consent_8d255282
        owner_id:
          type: string
          description: ID of the data owner
          example: test-owner-123
        owner_email:
          type: string
          description: Email address of the data owner
          example: owner@example.com
        app_id:
          type: string
          description: ID of the consumer application
          example: passport-app
        status:
          type: string
          enum: [pending, approved, rejected, expired, revoked]
          description: Current status of the consent
          example: pending
        type:
          type: string
          enum: [realtime, offline]
          description: Type of consent workflow
          example: realtime
        created_at:
          type: string
          format: date-time
          description: When the consent was created
          example: "2025-09-15T09:58:34.05668193Z"
        updated_at:
          type: string
          format: date-time
          description: When the consent was last updated
          example: "2025-09-15T09:58:34.056682055Z"
        expires_at:
          type: string
          format: date-time
          description: When the consent expires
          example: "2025-10-15T09:58:34.056536639Z"
        grant_duration:
          type: string
          description: Duration of the granted access
          example: 30d
        fields:
          type: array
          description: List of data fields covered by this consent
          items:
            type: string
          example: ["person.permanentAddress", "person.photo"]
        session_id:
          type: string
          description: Session identifier for tracking
          example: test-session-123
        consent_portal_url:
          type: string
          description: URL to redirect after consent approval/denial
          example: "http://localhost:5173/?consent_id=consent_8d255282"
        purpose:
          type: string
          description: Purpose for data access
          example: passport_application
        message:
          type: string
          description: Status message
          example: "Consent created successfully"

    ConsentPortalUpdateRequest:
      type: object
      required:
        - status
        - updated_by
      properties:
        status:
          type: string
          enum: [approved, rejected]
          description: New status of the consent
          example: approved
        updated_by:
          type: string
          description: ID of the data owner
          example: citizen_199512345678
        reason:
          type: string
          description: Reason for the status update
          example: User approved consent via portal

    RevokeConsentRequest:
      type: object
      required:
        - reason
      properties:
        reason:
          type: string
          description: Reason for revoking the consent
          example: User requested revocation

    ConsentPortalView:
      type: object
      properties:
        app_display_name:
          type: string
          description: Human-readable name of the application
          example: "Passport App"
        created_at:
          type: string
          format: date-time
          description: When the consent was created
          example: "2025-09-15T09:58:34.05668193Z"
        fields:
          type: array
          description: List of data fields covered by this consent
          items:
            type: string
          example: ["person.permanentAddress", "person.photo"]
        owner_name:
          type: string
          description: Human-readable name of the data owner
          example: "Test Owner 123"
        owner_email:
          type: string
          description: Email address of the data owner
          example: owner@example.com
        status:
          type: string
          enum: [pending, approved, rejected, expired, revoked]
          description: Current status of the consent
          example: pending
        type:
          type: string
          enum: [realtime, offline]
          description: Type of consent workflow
          example: realtime

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error message
          example: "Invalid consent ID"

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT token obtained from Asgardeo authentication service.
        The token must be included in the Authorization header as 'Bearer <token>'.
        The JWT must contain a valid email claim that matches the consent owner's email.

# Security is applied per endpoint - not all endpoints require authentication

tags:
  - name: Health
    description: Health check endpoints
  - name: Consents
    description: Consent management operations
  - name: Data Owner
    description: Data owner related operations
  - name: Consumer
    description: Consumer application related operations
  - name: Portal
    description: Consent portal operations
  - name: Data Info
    description: Data owner information operations
  - name: Admin
    description: Administrative operations
