global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: orchestration-engine
    metrics_path: /metrics
    static_configs:
      - targets:
          - host.docker.internal:4000

  - job_name: api-server
    metrics_path: /metrics
    static_configs:
      - targets:
          - host.docker.internal:3000

  - job_name: consent-engine
    metrics_path: /metrics
    static_configs:
      - targets:
          - host.docker.internal:8081

  - job_name: policy-decision-point
    metrics_path: /metrics
    static_configs:
      - targets:
          - host.docker.internal:8082

